@model FYP.Models.ErrorViewModel
@{
    ViewData["Title"] = L["Error"];
}

<h1 class="text-danger">@L["Error"].</h1>
<h2 class="text-danger">@L["An error occurred while processing your request."]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@L["Request ID:"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@L["Development Mode"]</h3>
<p>
    @L["Swapping to {0} environment will display more detailed information about the error that occurred.", "<strong>Development</strong>"]
</p>
<p>
    <strong>@L["The Development environment shouldn't be enabled for deployed applications."]</strong>
    @L["It can result in displaying sensitive information from exceptions to end users."]
    @L["For local debugging, enable the {0} environment by setting the {1} environment variable to {0} and restarting the app.", "<strong>Development</strong>", "<strong>ASPNETCORE_ENVIRONMENT</strong>"]
</p>
